
/* Order CSS */
.order-wrapper {
  text-align: center;
  background-color: #FFF;
  line-height: 2;
  letter-spacing: 0.1em;
  width: 675px;
  margin: 0px auto 60px;
  padding: 20px 0px 30px;
  border-radius: 5px;
  box-shadow: 0px 1px 4px #CCD7D4;
}

.container {
  text-align: center;
}

.order-wrapper h3, .container h3 {
  color: #322f33;
  font-family: "Futura Md BT";
  font-size: 18px;
}

.order-wrapper p, .container p {
  font-size: 12px;
}


.order-wrapper h4, .container h4 {
  font-size: 17px;
  color: #322f33;
  font-weight: bold;
}

.order-wrapper h6, .container h6 {
  font-size: 15px;
  font-family: Tekton Pro Ext;
  color: #555;
}

.title h2 {
  color: #322f33;
  font-family: "Arial Black";
  font-size: 20px;
  padding-top: 5px;
}

.address{
  padding-bottom: 5px;
  border-bottom: 1px solid #CCD7D4;
}

.clear {
  clear: both;
}

.pb-10{
  padding-bottom: 10px;
}

.px-10{
  padding: 0 10px;
}

.px-20{
  padding: 0 20px;
}

.pr-10{
  padding-right: 10px;
}

.pl-10{
  padding-left: 10px;
}

.float-left {
  text-align: left;
  float: left;
  display: inline-block;
}

.float-right {
  text-align: right;
  float: right;
  display: inline-block;
}


.mr-1{
  margin-right: 1px;
}

.order-wrapper h5, .container h5{
  color: #262626;
  font-family: stencil;
  font-size: 14px;
}

.d-inline{
  display: inline;
}

.d-inline-block{
  display: inline-block;
}

.pt-10{
  padding-top: 10px;
}

.menu span{
  font-size: 14px;
  color: #333;
  font-family: "Futura Md BT";
}

.garis-plus{
  display: inline-block;
  height: 20px;
  width: 150px;
  position: relative;
}

.garis-plus::before {
  width: 100%;
  background-color: #000000;
  height: 1px;
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.garis-plus::after {
  content: "+";
  position: absolute;
  right: 0;
  top: 0;
}

.garis-min{
  display: inline-block;
  height: 20px;
  width: 150px;
  position: relative;
}

.garis-min::before {
  width: 100%;
  background-color: #000000;
  height: 1px;
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.garis-min::after {
  content: "-";
  position: absolute;
  right: 0;
  top: 0;
}

.garis-kosong{
  display: inline-block;
  height: 20px;
  width: 100px;
  position: relative;
}

.garis-kosong::before {
  width: 100%;;
  height: 1px;
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.garis-kosong::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
}

.garis-kosong-ttd{
  display: inline-block;
  height: 25px;
  position: relative;
}

.garis-kosong-ttd::before {
  width: 100%;;
  height: 1px;
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.garis-kosong-ttd::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
}

.mr-50{
  margin-right: 125px;
}

.ml-50{
  margin-left: 100px;
}

.ttd h4{
  text-align: center;
}

.ttd h5{
  font-family: "Baskerville Old Face";
  text-align: center;
  font-size: 16px;
}